<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>post_add</mat-icon>
      <span><a class="menu-link" routerLink="/new-survey">New survey</a></span>
    </button>
    <button mat-menu-item>
      <mat-icon>query_stats</mat-icon>
      <span><a class="menu-link" routerLink="/survey-statistics">Survey Statistics</a></span>
    </button>
  </mat-menu>
  <span class="toolbar-name" style="overflow: hidden;">Survey by Overspecified Websites Inc.</span>
  <span class="spacer"></span>
</mat-toolbar>
