table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.bold-header {
  font-weight: bold;
  margin-left: 10px;
}

.table-responsive {
  margin-bottom: 25px;
}


.send-stats {
  float: right;
  margin-right: 20px;
  padding-bottom: 50px;
}

.send-stats-btn {
  height: 55px;
  width: 180px;
  font-size: 17px;
}
