.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-form-full-width {
  width: 100%;
}

.submit {
  margin-top:10px;
  margin-bottom:25px;
  background-color: #2E5A88;
}

.container {
  height: 80%;
}

.survey-complete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 65%;
}


.survey-complete {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header {
  background-color: #4984b841;
}

mat-card {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}
