<div class="container">
  <div *ngIf="!surveyComplete; else complete">
    <form [formGroup]="surveyForm">
      <mat-card>
        <div class="card-header">
          <h4>Why is the sky blue?</h4>
        </div>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName="q1answer">
          <mat-radio-button class="example-radio-button" *ngFor="let option of q1options" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
        
        
        <mat-card>
          <div class="card-header">
            <h4>When you come to a fork in the road, and there are no options left, which way do you go?</h4>
          </div>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            formControlName="q2answer">
            <mat-radio-button class="example-radio-button" *ngFor="let option of q2options" [value]="option">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-card>
        <mat-card>
          <div class="card-header">
            <h4>What color are the eyes of the most interesting person you know? (select all that apply)</h4>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Colors</mat-label>
            <mat-select formControlName="q3answer" [(value)]="q3answer" multiple>
              <mat-option *ngFor="let color of eyeColors" [value]="color">{{ color }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
        <mat-card>
          <div class="card-header">
            <h4>Examine your surroundings. How many green things do you see?</h4>
          </div>
          <div class="input-form">
            <mat-form-field class="input-form-full-width">
              <input type="number" matInput placeholder="Ex. 6" formControlName="q4answer">
            </mat-form-field>
          </div>
        </mat-card>
        <mat-card>
          <div class="card-header">
            <h4>What did/would you name your first pet goat?</h4>
          </div>
          <div class="input-form">
            <mat-form-field class="input-form-full-width">
              <input type="string" matInput placeholder="Ex. Goaty McGoatface" formControlName="q5answer">
            </mat-form-field>
          </div>
        </mat-card>  

      <button mat-raised-button color="primary" type="submit" class="submit" (click)="submit()">Submit</button>
    </form>
  </div>
</div>
<ng-template #complete>
  <div class="survey-complete-container">
    <div class="survey-complete">
      <mat-card> 
        <h3>Thank you for taking our survey!</h3>
      </mat-card>
    </div>
  </div>
</ng-template>